*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.searchWrapper{ 
  background-color: green;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.searchWrapper h2{
   padding-top: 20px;
}
.search input[type=text]{
 width: 80%;
 margin: 20px;
}

.search input[type=submit]{
  margin-bottom: 20px;
  width: 80%;
}
.container-city{
  background-color:white;
}
